*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    font-size: 62.8%;
    font-family: calibri;
    background-image: url(img/bg-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

img {
   display: block;
   max-width: 100%;
}

button {
   cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-section {
    display: flex;
    margin-top: 2em;
    gap: 1em;
    flex-wrap: wrap;
}

.input-section input {
    border: 1px solid lime;
    padding: 0.5em;
    background-color: transparent;
    color: wheat;
}

.input-section input::placeholder {
    color: white;
    opacity: 0.75;
}

.input-section button {
    font-size: 1rem;
    padding: 0.5em 1.5em;
    border-radius: 3em;
    color: white;
    background-color: lime;
}

.todo-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1em;
    width: 90%;
}

.todo-container li {
    display: grid;
    grid-template-columns: auto repeat(2, 30px);
    justify-items: flex-start;
    word-break: break-all;
    word-wrap: break-word;
    align-items: center;
    padding: 1em;
    margin-top: 1em;
    width: fit-content;
    border-radius: 0.7em;
    background-color: #004739;
    text-align: center;
}

.todo-container li p {
    font-size: 1rem;
    text-transform: capitalize;
    margin-right: 2em;
    color: wheat;
    grid-template-rows: auto;
}

.checkbox,
.delete-todo {
    border-radius: 0.5em;
    cursor: pointer;
}

.checkbox {
    height: 2em;
    width: 2em;
    border: 2.5px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-todo {
    width: 2em;
    padding: 0.35em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff006c;
}

.check-img {
    opacity: 0;
    transform: scale(0);
}

.checkbox img {
    width: 80%;
    height: 75%;
}

.gold {
    background-color: gold;
    transition: 0.4s;
}

.check-img-show {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s;
}

.line-through {
    text-decoration: line-through;
}